*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-content: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  padding: 0.75rem 2rem;
  border-radius: 16px;
  border: none;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 50%;
}
