*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-content: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-weight: inherit;
}
